apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./flux/infrastructure/kube-prometheus-stack
  targetNamespace: monitoring
  dependsOn:
    - name: policies
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
